body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5e747f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*--------------Custom Styling----------*/

/*Main Container*/
.main-container {
  position:relative;
  float: left;
  margin-left: 20px;
}
.main-container ul {
  list-style-type: none;
}

.main-container ul li a{
  color: white;
}

/*Navigation bar*/
.nav-bar ul {
  height: 40px;
  width: 300px;
  position: relative;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

.nav-bar li{
  text-decoration: none;
  display: inline-block;
  padding: 14px 16px;
  background-color: #73a580;
  color: white; 
}

.nav-bar li:hover {
  background-color: #111;
} 

/*Side bar*/

.side-bar {
  height: 100%;
  width: 160px;
  float: left;
  position: relative;
  padding-top: 20px;
  overflow-x: hidden;
  border: 10px; 
  margin-bottom: -5000px;
  padding-bottom: 5000px;
}

.side-bar h3{
    text-align: center;
    color: white;
}

.footer {
  background: blue;
}

/*Instrument Card*/
.instrument-card {
  position: relative;
  float: right;
  right: 650px;
  top: 50px;

}

.instrument-card h3 {
  color: white;
}

/*TODO*/
.name-container {
  
}